{% extends 'laboratorio/base.html' %}

{% block title %}Lista de Laboratorios{% endblock title %}

{% block content %}

<h2>{% if form.instance.pk %}Editar Laboratorio{% else %}Insertar Laboratorio{% endif %}</h2>
{% comment %} 
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
</form>

<a href="{% url 'laboratorio_list' %}">Volver a la lista</a>
 {% endcomment %}






<form method="POST" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">{% if form.instance.pk %}Actualizar{% else %}Crear{% endif %}</button>
</form>

<a href="{% url 'laboratorio_list' %}" class="btn btn-secondary mt-3">Volver a la lista</a>


{% endblock content %}